body , .Home {
  font-family: Helvetica;
  text-align: center;
}
h1 , .link , .copy-right , .design {
  color: White;
}
div {
  background-color: White;
}
.copy-right , .low {
  background-color: dimgray;
  text-align: left;
}
.copy-right , .low {
  font-size: 11px;
}
.Home , .design {
    background-image: url("C:/Users/Hamed/Desktop/Coding/Projects/Broadway/resources/photos/the-flatiron-building.png");
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
.Home p {
  font-size: 18px;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
.design {
  font-size: 23px;
}
 span {
  font-size: 11px;
}
.link{
  font-size: 18px;
  color: White;
}
